/* MAIN */

.main {
  margin-left: 260px;
  width: calc(100% - 260px);
  padding: 18px 24px 30px;
  min-width: 0;
}

/* TOPBAR */

.topbar {
  margin-bottom: 18px;
}

.search-box {
  width: 100%;
  height: 46px;
  border-radius: 14px;
  background: rgba(10,15,28,.9);
  border: 1px solid rgba(255,255,255,.07);
  display: flex;
  align-items: center;
  padding: 0 18px;
  gap: 14px;
}

.search-box i {
  color: #76a4ff;
  font-size: 16px;
}

.search-box input {
  flex: 1;
  background: none;
  border: none;
  outline: none;
  color: #fff;
  font-size: 14px;
}

.search-box input::placeholder {
  color: #8995b2;
}
